<!--about section starts here-->
<section id="about">

<div class="container">
<div class="about-head">
	<h2>We make getting high quality hearing aids easy affordable</h2>
</div>	
</div>
<!--img section-->
<div class="container about1">
<div class="row ">
<div class="col-md-6">
<img src="img/hearing-aids.jpg" alt="hearing-aids" class="img-fluid">	
</div>

<div class="col-md-6 about-text">
	<ul class="about-list">
    <li>We carry all major hearing aid brands at price-points for every budget.</li>
    <li>At Preferred Audiology Care, our professionals are experts in each hearing aid option and help you make the right choice.</li>
    <li>Just fill out the form above and one of our Patient Care Coordinators will be in touch shortly.</li>
    <li>We’ll make sure your questions are answered and organize a zero-risk consultation with one of our Doctors of Audiology.</li>
	</ul>
</div>


</div>
</div>


</section>
<!--about section ends here-->