<!--call to action starts-->
<section id="action">
<div class ="container action-head">
<h2>We take care of your hearing aid problems</h2>
</div>	

<div class="but-sec">
<div class="container">
<div class="row">
<div class="col-md-6 app">
<a href="#appointment" class="btn1 btn1-col float-right">I would like to have a hearing test</a>	
</div>
<div class="col-md-6 tel">
	<a href="tel:3152019987" class="btn1  float-left">Schedule an appointment now</a>	
</div>
</div>
</div>
</div>

</section>
<!--call to action ends-->