<!--footer area starts here-->
<section id="footer">
<div class="container">
<div class="row">
<div class="col-md-6 fleft">
<p style="text-align: center;"><span style="font-weight: 400;"><i class="fa fa-map-marker" style="color: white;"></i><a style="color: white;" href="https://goo.gl/maps/1VpmirVzPw3XryKB9"> 5639 West Genesee St,
Camillus, NY 13031</a></span></p>	

<p style="text-align: center;"><span style="font-weight: 400;"><i class="fa fa-phone" style="color: white;"></i> <a style="color: white;" href="tel:(315) 201-9987">(315) 201-9987</a></span></p>
</div>
<div class="col-md-6 office">
	<h3 style="text-align: center; color: white;" class="">Office Hours</h3>
	<p style="text-align: center; color: white;">Monday – Friday: 9am – 5pm</p>
	<p style="text-align: center; color: white;">Saturday – Sunday: Closed</p>
</div>
</div>
</div>
<div class="copy-right">
<p class="text-center">© 2019 Preferred Audiology Care. All Rights Reserved. Powered by AudiologyPlus.</p>
</div>
</section>
<!--footer area ends here-->