<!--action bar area starts-->
<div class="action-bar">
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="logo">
<img src= "{{site.url}}/img/logo.png" alt=logo class="img-fluid">
</div>	
</div>
<div class="col-md-6">
	<ul class="call">
    <li><img src="{{site.url}}/img/call.png" alt="call"></li>
    <li class="call-no">Call <span class="cal-color">(315) 201-9987</span> today!</li>
	</ul>
</div>

</div>
</div>
</div>
<!--actionbar area ends-->
<!--hero section starts here-->
<div class="header">
<div class="container">
<div class="row">
<div class="col-md-8">
  <h1 class="title">Hearing Aid Fitting</h1>
	<h2 class="sub-title">Our knowledgeable staff will provide you with detailed information about hearing healthcare and solutions for hearing loss</h3>
	<h3 class="sub-title1">Get an Affordable & Personalized Hearing Aid (specially designed for you)</h3>
<div class="ser-high">
	<h3>Service Highlights:</h3>
<ul class="header-list">
<li>Free Hearing Aid Demos!</li>
<li>Exclusive in-house custom 3D printed earmolds</li>
<li>Free Batteries for up to 5 years with premium models</li>
<li>All New! Same day drop-off and Pickup Hearing Aid cleaning service</li>
<li>45-Day Hearing Aid Trial Period </li>
<li>We use safe and comfortable earwax removal methods</li>
<li>Purchase a new device & enjoy 3 year loss, damage, and repair warranty on most devices</li>
</ul>


</div>

</div>
<div class="col-md-4">
<div class="form1" id="appointment">
<h3>Schedule your free consultation today</h3>

<form action="https://formspree.io/allwin.maxworth@gmail.com" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Name*</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="name" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Phone*</label>
    <input type="number" class="form-control" id="exampleInputPassword1" name="number" required>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Email*</label>
    <input type="email" class="form-control" id="exampleInputPassword1" name="email" required>
  </div>
<div class="btn-sec">
  <button type="submit" class="btn btn-outline-primary btn-block btn-cus" >Request an appointment now!</button>
</div>
</form>
</div>

</div>
</div>
</div>
</div>
<!--hero section ends here-->