<!--service section starts here-->
<section id="service">
<div class="container ser-head">
<h2>We offer all major hearing aid brands at an amazingly low price</h2>
</div>

<div class="container ser-img">
<div class="row">
<div class="col-md-4">
<img src="img/reliability.png"	alt="reliability" class="img-fluid">
<h3 class="text-center">Reliable</h3>
<p classs="text-center">At Preferred Audiology Care we make it priority to provide honest recommendations for every patient.</p>
</div>
<div class="col-md-4">
	<img src="img/trustworthy.png"	alt="reliability" class="img-fluid">
<h3 class="text-center">Trust worthy</h3>
<p classs="text-center">We are only as successful as our patients, so our staff makes it a point to cultivate relationships with each patient.</p>
</div>
<div class="col-md-4">
	<img src="img/technology.png"	alt="reliability" class="img-fluid">
<h3 class="text-center">Competitive Pricing</h3>
<p classs="text-center">Unlike big box retailers, Preferred Audiology Care provides exceptional service with competitive pricing.</p>
</div>
</div>
</div>



</section>
<!--service section ends here-->