<!--speak to expert section starts here-->
<section id="expert">
<div class="container">
<div class="row">
<div class="col-md-3 call-icon">
	<img src="img/call-1.png" alt="call icon" class="img-fluid">
</div>
<div class="col-md-9 expert">
	<h3>Speak to a hearing aid expert now</h3>
	<p><a  href="tel:(315) 201-9987" onclick="_gaq.push(['_trackEvent', 'telephonemenu', 'clicked','telephone'])" oncopy="_gaq.push(['_trackEvent', 'telephonemenu','copied', 'telephone'])" onmousemove="_gaq.push(['_trackEvent', 'telephonemenu','moved over', 'telephone'])"><strong>(315) 201-9987</strong> </a> | Monday – Friday : 9 am to 5 pm | Saturday –  Sunday: Closed</p>
</div>
</div>

</div>
</section>
<!--speak to expert section ends here-->