<!--testimonial section starts here-->
<section id="testi">
<div class="container testi-head">
<h2 class="text-center">What our patients say about us</h2>
</div>

<div class="container testi-inner">
<div class="row">
<div class="col-md-3 testi-img">
<img src="{{site.url}}/img/user.png" alt="user" class="img-fluid">	
</div>
<div class="col-md-9 testi-text">
<p>I felt that they really valued my health and happiness because they followed up even after my appointment just to check up on me. It was such a nice gesture that made a huge difference. They were so easy to reach in an emergency, they answered my call immediately. It is a relief to know that I can count on them to always be there for me when I need them the most. I love that they are always more than happy to answer my questions, and actually welcome questions. I’ve felt awkward at some other places I’ve visited when I’ve tried to ask a lot of questions, but not here.</p>

<h4 class="float-right">- Mike</h4>	

</div>
</div>
</div>

</section>
<!--testimonial section ends here-->